.interview-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chat-header {
    background-color: #e0e0e0;
    padding: 10px;
    font-weight: bold;
    text-align: center; /* Center align the text */
  }
  
  .message-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    margin: 100px 10px; /* Add margin to the message list */
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically within each message box */
    margin: 0 auto; /* Center horizontally */
    padding: 10px 70%; /* Apply 70% padding on both left and right */
    box-sizing: border-box; /* Include padding in element's width */
  }
  
  
  .user {
    background-color: #d4eaf6;
    align-self: flex-end;
  }
  
  .ai {
    background-color: #f6f6f6;
    align-self: flex-start;
  }
  
  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
    margin: 10px 0; /* Add margin to the input section */
  }
  
  .input-section input {
    width: 100%; /* Expand input to full width */
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-bottom: 10px; /* Add margin below the input */
  }
  
  .input-section button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  